* {
  font-family: "Proxima Nova";
}
.app {
  max-width: 960px;
  margin: 0 auto;
}
.movies-item {
  padding: 10px 0;
}
.movies-item__image {
  background: #d8d8d8;
  border: none;
}
.filters-item {
  margin: 0 40px;
}
.filters-item:hover {
  background: #ebecff;
}
.filters-item:hover > .filters-item-options {
  visibility: visible;
}
.filters-item__search-link {
  display: block;
}
.filters-item__search-link--active {
  color: inherit;
  text-decoration: none;
}
.filters-item-options {
  font-size: 14px;
  visibility: hidden;
}
.pagination {
  margin-top: 10px;
  text-align: right;
}
.search-form {
  margin-top: 30px;
}
.search-form__save-search {
  margin-left: 10px;
}
@media only screen and (max-width: 650px) {
  .search-form {
    display: none;
  }
}
