.movies.pure-g
    .pure-u-1-3.movies-item
        img.movies-item__image(src="", alt="Devil at the catacombs", height="150", width="150")
        h3.movies-item__title Devil at the catacombs
        .movies-item__description
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
    .pure-u-1-3.movies-item
        img.movies-item__image(src="", alt="Devil at the catacombs", height="150", width="150")
        h3.movies-item__title Devil at the catacombs
        .movies-item__description
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
    .pure-u-1-3.movies-item
        img.movies-item__image(src="", alt="Devil at the catacombs", height="150", width="150")
        h3.movies-item__title Devil at the catacombs
        .movies-item__description
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
    .pure-u-1-3.movies-item
        img.movies-item__image(src="", alt="Devil at the catacombs", height="150", width="150")
        h3.movies-item__title Devil at the catacombs
        .movies-item__description
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
    .pure-u-1-3.movies-item
        img.movies-item__image(src="", alt="Devil at the catacombs", height="150", width="150")
        h3.movies-item__title Devil at the catacombs
        .movies-item__description
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
    .pure-u-1-3.movies-item
        img.movies-item__image(src="", alt="Devil at the catacombs", height="150", width="150")
        h3.movies-item__title Devil at the catacombs
        .movies-item__description
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. 
