.filters
    h3.filters__title Búsquedas guardadas
    .filters-items
        .filters-item
            a.filters-item__search-link(href="javascript:;") terror puro
            .filters-item-options
                a.filters-item-options__link(href="javascript:;") Editar
                |  | 
                a.filters-item-options__link(href="javascript:;") Eliminar
        .filters-item
            a.filters-item__search-link(href="javascript:;") search drama
            .filters-item-options
                a.filters-item-options__link(href="javascript:;") Editar
                |  | 
                a.filters-item-options__link(href="javascript:;") Eliminar
        .filters-item
            a.filters-item__search-link(href="javascript:;") comedias en inglés
            .filters-item-options
                a.filters-item-options__link(href="javascript:;") Editar
                |  | 
                a.filters-item-options__link(href="javascript:;") Eliminar
    h3.filters__title Categorias
    .filters-items
        .filters-item
            a.filters-item__search-link.filters-item__search-link--active(href="javascript:;") Todos
        .filters-item
            a.filters-item__search-link(href="javascript:;") Terror
        .filters-item
            a.filters-item__search-link(href="javascript:;") Comedia
        .filters-item
            a.filters-item__search-link(href="javascript:;") Drama
    h3.filters__title Idioma
    .filters-items
        .filters-item
            a.filters-item__search-link.filters-item__search-link--active(href="javascript:;") Todos
        .filters-item
            a.filters-item__search-link(href="javascript:;") Inglés
        .filters-item
            a.filters-item__search-link(href="javascript:;") Español
        .filters-item
            a.filters-item__search-link(href="javascript:;") Portugués
    h3.filters__title Publicación
    .filters-items
        .filters-item
            a.filters-item__search-link.filters-item__search-link--active(href="javascript:;") Todos
        .filters-item
            a.filters-item__search-link(href="javascript:;") Hoy
        .filters-item
            a.filters-item__search-link(href="javascript:;") Hace una semana
        .filters-item
            a.filters-item__search-link(href="javascript:;") Hace un mes
        .filters-item
            a.filters-item__search-link(href="javascript:;") Hace un año
    h3.filters__title Presentación
    .filters-items
        .filters-item
            a.filters-item__search-link(href="javascript:;") Impreso
        .filters-item
            a.filters-item__search-link(href="javascript:;") Digital
        .filters-item
            a.filters-item__search-link.filters-item__search-link--active(href="javascript:;") Impreso y digital