.search-form
    input#inputSearch.search-form__input(type="text", placeholder="")
    button#btnSearch.search-form__button(type="button", disabled="true") Buscar
    a.search-form__save-search(href="javascript:;") Guardar Búsqueda