doctype html
html(lang="es")
    head
        title Finder challenge
        meta(charset="utf-8")
        meta(viewport="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css?family=Proxima+Nova", rel="stylesheet", type="text/css")
        link(href="/vendor/pure/pure-min.css", rel="stylesheet")
        link(href="/vendor/awesomplete/awesomplete.css", rel="stylesheet")
        link(href="/styles/index.css", rel="stylesheet")

    body
        .app
            header.pure-g.header
                h1.pure-u-1-3.header__logo Finder challenge
                .pure-u-2-3.header__search-form
                    include blocks/search-form
            .pure-g.container
                aside.pure-u-1-4.container__filters
                    include blocks/filters
                content.pure-u-3-4.container__movies
                    include blocks/content
                    include blocks/pagination
            footer.pure-g.footer
                //-.pure-u-1

        include blocks/templates/_templates.pug

        //- third party libraries
        script(src="/vendor/underscore/underscore-min.js")
        script(src="/vendor/awesomplete/awesomplete.min.js")

        //- app scripts self
        script(src="/scripts/global.js")
        script(src="/scripts/search-form.js")
        script(src="/scripts/saved-searches.js")
        script(src="/scripts/app.js")